.sidebar_icons{
    display: flex;
    flex-direction: column;
    flex: 1;
    place-content: center;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-evenly;
}
svg:hover{
    color: white;
    transition: 0.3s all ease-in-out;

}