.contain{
    width: 100%;
    height:100%;

}



table{
    width: 90%;
    height: auto;
}

table td {
   text-align: center;
}

.filter_list{
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}
ul{
    padding: 4px 2px;
    list-style:circle;
}

ul > li{
    display: inline;
    padding: 0px 10px;
    
}

h6 , label{
    font-size: 1.5rem;
}